<!DOCTYPE html>
<html>
<!-- Header -->
<head>
    <title>Menfess!</title>
    <link rel="icon" href="images/Menfess.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2998592050723815"
     crossorigin="anonymous"></script>

</head>
<script src="main.js"></script>
<!-- Body(Tampilan) -->
<body>
<!-- Tampilan Pada Aplikasi agar tidak mengganggu Sidebar -->
<article id="main">
    <!-- Div Utama -->
    <div class="card">
        <!-- Postingan -->
        <article id="mainnVid">
            <% data.forEach(element => { %>
            <!-- Untuk Setiap Post -->
            <article class="card2" id="hehevid">
                <!-- Untuk Like -->
                <% if (element.hasLiked) { %>
                <p style="text-align: center;" name="noteLike" value="<%= element.like %>"> ❤️ <%= element.like %> </p>
                <% } else { %>
                <form action="/videos/like/<%= element.noteId %>" method="post" enctype="multipart/form-data" id="popup">
                    <button type="submit">❤️ <%= element.like %> </button>
                </form>
                <% } %>

                <!-- Input ID -->
                <input type="number" style="display: none;" name="noteId" charset="UTF-8" id="noteId" value="<%= element.noteId %>">

                <!-- Isi dari postingan(Nama dan Postingan) -->
                <article>
                    <h4 id="oren" type="text" rows="6" readonly="true" placeholder="Type Here..." name="noteContent" value="<%= element.noteName %>">
                        <%= element.noteName %>
                    </h4>

                    
                    <h3 type="text" rows="6" readonly="true" placeholder="Type Here..." name="noteContent" value="<%= element.noteContent %>">
                      <%= element.noteContent %>
                    </h3>
                    <video id="myVideo" src="https://ik.imagekit.io/menfessdoma/video-<%= element.noteId %>.mp4" alt="Gambar" controls loop autoplay></video>

                    
<script>
  // Function to detect when video is visible on screen
  function playVisibleVideo() {
      var videos = document.getElementsByTagName("video");
      for (var i = 0; i < videos.length; i++) {
          var video = videos[i];
          var rect = video.getBoundingClientRect();
          var viewHeight = Math.max(document.documentElement.clientHeight, window.innerHeight);
          if (rect.top >= 0 && rect.bottom <= viewHeight) {
              if (video.paused) {
                  video.play();
              }
          } else {
              if (!video.paused) {
                  video.pause();
              }
          }
      }
  }
  
  // Call the function when the page loads
  window.onload = function() {
      playVisibleVideo();
  }
  
  // Call the function when scrolling
  window.onscroll = function() {
      playVisibleVideo();
  }
  
  // Call the function on user interaction (click event)
  document.addEventListener('click', function() {
      playVisibleVideo();
  });
  </script>
  
                </article>

                <!-- Tentang Comment -->
                <!-- Tombol Coment -->
                <button onclick="showComment('<%= element.noteId %>')">Mau Comment?</button>
                <!-- Untuk Post Komen -->
                <article id="table2">
                    <form action="/videos/comment/<%= element.noteId %>" method="post" class="card2" id="testt<%= element.noteId %>" style="display: none;">
                        <h4>Comments:</h4>
                        <input type="number" style="display: none;" name="noteId" value="<%= element.noteId %>">
                        <p>Apa Yang Anda Pikirkan?</p>
                        <input type="text" placeholder="Tulis Yang Anda Pikirkan!" name="commentContent" id="commenterName">
                        <br>
                        <p>Nama?</p>
                        <input type="text" placeholder="Nama Anda?" name="commenterName" id="commenterName">
                        <br>
                        <button type="submit">Add Comment</button>
                    </form>
                    <article>

                        <!-- Jika terdapat Komen, maka akan ditampilkan -->
                        <<!--Jika terdapat Komen, maka akan ditampilkan-->
						<% if (element.comment && element.comment.length > 0) { %>
							<ul>
								<% (element.comment).forEach(comments => { %>
									<li class="card2" style="height: auto; max-height: 300px; width: fit-content; /* set the height to your desired fixed size */
								-webkit-overflow-scrolling: none;
								overflow-y:auto;
								" id="comment">
								<strong><%= comments.commenterName %>:</strong> <%= comments.commentContent %>
							</li>
						<% }) %>
							</ul>
						
						<!--Jika tidak ada, maka akan ditambah "belum ada komen"-->
						<% } else{%>
							<ul>
								<li class="card2" style="height: auto; max-height: 300px; width: fit-content; /* set the height to your desired fixed size */
								-webkit-overflow-scrolling: none;
								overflow-y:auto;
								" id="comment">
									Belum Ada Comment
								</li>
						<% } %>
                    </article>
                </article>
            </article>
            <% }) %>
        </article>

        <!-- Pagination -->
        <div class="pagination">
			<% if (currentPage > 1) { %>
			  <a class="" href="/videos/page/<%= currentPage - 1 %>">&laquo; Prev</a>
			<% } %>
			<% if (currentPage < totalPages) { %>
			  <a href="/videos/page/<%= currentPage + 1 %>">Next &raquo;</a>
			<% } %>
		  </div>
		  
		  <!-- JavaScript -->
		  <script>
			// Menambahkan event listener untuk tindakan klik pada elemen a dengan menggunakan class atau tagname
			var aButtons = document.querySelectorAll('.pagination a'); // Mengambil semua elemen a dalam div.pagination
			aButtons.forEach(function(button) {
			  button.addEventListener('click', function(event) {
				event.preventDefault(); // Mencegah aksi default mengarahkan ke URL
				var href = this.getAttribute('href'); // Mendapatkan nilai atribut href dari elemen a
				window.location.href = href; // Mengarahkan halaman ke URL yang diperoleh dari atribut href
			  });
			});
		  </script>
    </div>
</article>

<!--Fungsi Untuk Post!-->
<div class="background" id="background"> <!--Backgroundnya agar lebih gelap-->

	<div id="add" class="card4"> <!--Div untuk Postnya-->
		<button onclick="myFunction()"  class="float2">X</button> <!--Tombol Close-->
		
		<!--Form untuk Posting-->
		<form action="/videos" method="post" enctype="multipart/form-data" id="popup">
			<input type="number" style="display: none;"
				name="noteId"> <!--noteId(Seperti Biasa)-->

			<p>Apa Yang Anda Pikirkan?</p>

			<input type="text" rows="6" cols="30"
				placeholder="Tulis Yang Anda Pikirkan!"
				name="noteContent"></input> <!--Pengen Post tentang apa-->

			<p>Nama?</p>

			<input type="text" rows="6" cols="30"
				style="margin-top: 20px; margin-bottom: 40px;"
				placeholder="Nama Anda? atau Untuk Siapa?"
				name="noteName"></input> <!--Nama-->

			<br>

			<label for="choose" id="input" style=" font-size: 5vw;">Pilih Video!</label>
			<input type="file" name="video" id="choose" onchange="previewImage(event)"/>

			<br>

			<button type="submit">Confess!</button><!--Tombol Post-->
		</form>
	</div>
</div>
</article>

<%- include('top.html') -%>
<!-- Script -->
<!--JS-->
<script src="/js/main.js"></script>
<script>
    // Fungsi untuk menampilkan form komentar
    function showComment(noteId) {
        var x = document.getElementById("testt" + noteId);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

</body>
</html>
